a {
  text-decoration: none;
}
.main-header {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(224, 224, 224, 0.815);
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 8;
}

.header {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-one {
  display: flex;
  align-items: center;
  flex-flow: nowrap row;
  gap: 50px;
  flex: 0 0 40%;
}

.webname {
  font-size: 1.5rem;
  color: rgb(14, 14, 14);
  font-weight: 700;
}

.webname span {
  color: #ff700b;
}

.blog-nav {
  display: flex;
  align-items: center;
  flex-flow: nowrap row;
  gap: 5px;
  justify-content: center;
  cursor: pointer;
}

.blog-nav h3 {
  font-size: 1.15rem;
  font-weight: 500;
  color: rgb(17, 17, 17);
}

.blog-nav img {
  width: 15px;
  height: 15px;
}

.header-two {
  display: flex;
  align-items: center;
  flex-flow: nowrap row;
  gap: 20px;
  justify-content: flex-end;
  flex: 0 0 60%;
}

.search {
  position: relative;
  width: 300px;
}

.search input {
  width: 100%;
  height: 30px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 40px;
  background-color: #f2f2f2;
}

.search input:focus {
  outline: none;
}

.search img {
  position: absolute;
  top: 1px;
  width: 29px;
  height: 29px;
  right: 8px;
}

.login,
.logout {
  padding: 6px 15px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}

.login {
  background-color: #30d46f;
  color: rgb(34, 34, 34);
}

.logout {
  background-color: rgb(136, 136, 136);
  color: rgb(243, 243, 243);
}

.login:hover {
  border: 1px solid black;
  background-color: #2ac766;
}

.logout:hover {
  background-color: rgb(110, 110, 110);
  color: rgb(243, 243, 243);
}

.menu {
  display: none;
}

.writing,
.writing-nd {
  background-color: #00c396;
  border: 1px solid rgb(3, 58, 8);
  padding: 8px 15px;
  border-radius: 5px;
  color: rgb(248, 248, 248);
  font-weight: 700;
  cursor: pointer;
}

.writing:hover,
.writing-nd:hover {
  background-color: #05a37e;
}

.writing-nd {
  display: none;
}

.profile {
  width: 45px;
  height: 45px;
}

@media (max-width: 1120px) {
  .header {
    width: 100%;
    padding: 0 1rem;
  }
}
@media (max-width: 980px) {
  .header-two {
    flex: 0 0 70%;
  }
  .header-one {
    flex: 0 0 30%;
  }
}

@media (max-width: 830px) {
  .writing-nd {
    padding: 8px 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .blog-nav {
    display: none;
  }
  .header-two {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu img {
    width: 30px;
    height: 30px;
  }
  .writing-nd {
    display: block;
  }
}

@media (max-width: 350px) {
  .writing-nd {
    padding: 8px 10px;
    font-size: 0.8rem;
  }
}

@media (max-width: 290px) {
  .writing-nd {
    padding: 8px 6px;
    font-size: 0.7rem;
  }
}
