.category-main {
  width: 100%;
  height: 400px;
  overflow: auto;
  background-color: #f6f9fc;
  padding: 1rem 1rem 2rem 1rem;
  position: fixed;
  z-index: 20;
  top: 82px;
  border-bottom: 4px solid;
  border-bottom-color: rgba(192, 192, 192, 0.315);
}

.category-main::-webkit-scrollbar {
  width: 0.1px;
}

.category-main::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.category-main::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-sub {
  width: 1100px;
  margin: auto;
}

.category {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.sub-category {
  display: flex;
  flex-flow: nowrap row;
  gap: 5px;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  height: 120px;
}

.sub-category:hover {
  background-color: #b5cfe9;
  cursor: pointer;
}

.sub-category img {
  width: 35px;
  height: 35px;
}

.titles h2 {
  font-size: 1.2rem;
}

@media (max-width: 1120px) {
  .category-sub {
    width: 100%;
  }

  .category {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 690px) {
  .category-main {
    display: none;
  }
}
