.footer {
  flex: 1 1 10%;
  width: 100%;
  background-color: #191233;
  position: absolute;
  bottom: 0px;
}

.sub-footer {
  width: 1100px;
  padding: 1rem 0px;
  margin: auto;
  text-align: center;
}

.webname {
  color: rgb(219, 219, 219);
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px;
}

.copyright {
  color: rgb(211, 211, 211);
}

@media (max-width: 1100px) {
  .sub-footer {
    width: 100%;
  }
}
