a {
  text-decoration: none;
  color: black;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.posts {
  border-top: 2px solid #ff5c35;
}

.topic-name {
  font-size: 1.05rem;
  margin-top: 10px;
  font-weight: 700;
}

.namesection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap row;
  margin: 1rem 0;
  color: rgb(78, 78, 78);
}

@media (max-width: 580px) {
  .featues-main {
    display: none;
  }
}
