.main-div {
  max-width: 1100px;
  width: 100%;
  height: 145px;
  background-color: #7d41e1;
  background: repeating-linear-gradient(
    35deg,
    #7d41e1 6px,
    #7d41e1 46px,
    #8d4ef5 20px,
    #8d4ef5 125px
  );
  border-radius: 30px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-flow: nowrap column;
  margin: 0.8rem auto 2rem auto;
}
.title {
  position: relative;
}

.title p {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  padding-bottom: 1.2rem;
}

.search-div {
  position: absolute;
  width: 45%;
  margin: auto;
  bottom: -16px;
}

.search-div input {
  width: 100%;
  border-radius: 12px;
  border: 0px;
  height: 52px;
  padding-left: 50px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.452);
}

.search-div input:focus {
  outline: none;
}

.search-div img {
  position: absolute;
  top: 12px;
  left: 14px;
  width: 30px;
  height: 30px;
}

.round-one,
.round-two {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #2daafc;
}

.round-one {
  top: 30px;
  left: 18%;
}

.round-two {
  top: 74px;
  right: 22%;
}

.strip-one,
.strip-two,
.strip-three {
  position: absolute;
  background-color: white;
  width: 4px;
  border: 0;
  border-radius: 2px;
}

.strip-one {
  height: 30px;
  top: -24px;
  left: -18px;
  transform: rotate(316deg);
}
.strip-two {
  height: 20px;
  top: 2px;
  left: -23px;
  transform: rotate(283deg);
}

.strip-three {
  height: 18px;
  top: -22px;
  left: 4px;
  transform: rotate(180deg);
}

@media (max-width: 1120px) {
  .main-div {
    width: 96%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 850px) {
  .search-div {
    width: 55%;
  }
  .round-two {
    top: 70px;
    right: 5%;
  }
}

@media (max-width: 700px) {
  .search-div {
    width: 65%;
  }
  .main-div {
    height: 130px;
  }
}

@media (max-width: 500px) {
  .search-div {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .round-one {
    top: 30px;
    left: 8%;
    width: 30px;
    height: 30px;
  }
  .round-two {
    top: 70px;
    right: 4%;
    width: 30px;
    height: 30px;
  }
}
