.session-message {
  position: absolute;
  top: 50px;
  z-index: 22;
  width: 100%;
  right: 40%;
  text-transform: capitalize;
}

@media (max-width: 1100px) {
  .session-message {
    top: 32px;
    right: 16px;
  }
}

@media (max-width: 560px) {
  .session-message {
    right: 12px;
  }
}

@media (max-width: 440px) {
  .session-message {
    right: 8px;
  }
}

@media (max-width: 400px) {
  .session-message {
    right: 6px;
  }
}

@media (max-width: 300px) {
  .session-message {
    right: 0px;
    width: 100%;
  }
}
