.login-main {
  position: fixed;
  z-index: 10;
  height: 100vh;
  background-color: #ffffff;
  top: 0px;
  width: 100%;
  overflow: hidden;
}

.login-sub {
  background-color: white;
  width: 30%;
  margin: 8rem auto 0;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.226);
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.title span {
  color: orangered;
}

.login {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
}

.signup {
  font-size: 1rem;
  font-weight: 500;
}

.signup span {
  color: orangered;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 10px;
}

.input-section {
  margin: 1rem auto;
}

.email,
.password {
  display: flex;
  flex-flow: nowrap column;
  gap: 10px;
  margin-bottom: 1rem;
}

.email label,
.password label {
  font-size: 1rem;
  font-weight: 500;
}

.email input,
.password input {
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  padding-left: 10px;
  border: 0px;
  font-size: 1rem;
  color: rgb(34, 34, 34);
}

.email input:focus,
.password input:focus {
  outline: none;
}

.password {
  position: relative;
}

.forgot {
  position: absolute;
  top: 0px;
  right: 0px;
  color: orangered;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  background-color: #893dff;
  width: 100%;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  border: 0;
  margin-bottom: 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #7835dd;
}

.design {
  position: absolute;
  background-color: #ff700b;
  width: 100%;
  height: 500px;
  bottom: 0px;
  z-index: -1;
  border-top-right-radius: 60%;
  border-top-left-radius: 40%;
}

@media (max-width: 1350px) {
  .login-sub {
    width: 35%;
  }
}

@media (max-width: 1080px) {
  .login-sub {
    width: 40%;
  }
}

@media (max-width: 850px) {
  .login-sub {
    width: 45%;
  }
}

@media (max-width: 750px) {
  .login-sub {
    width: 55%;
  }
}

@media (max-width: 600px) {
  .login-sub {
    width: 65%;
  }
}

@media (max-width: 520px) {
  .login-sub {
    width: 75%;
  }
}

@media (max-width: 430px) {
  .login-sub {
    width: 90%;
    margin: 5rem auto 0;
  }
  .design {
    width: 100%;
    height: 500px;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
  }
}

@media (max-width: 370px) {
  .login-sub {
    width: 95%;
    padding: 1rem;
  }
}
