.allpost-main {
  width: 90%;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.allpost-sub {
  width: 100%;
  padding: 10px;
  background-color: #f6f5fb;
  border-radius: 10px;
}

.blog-image {
  width: 100%;
  height: 200px;
  margin: auto;
  border-radius: 10px;
}

.allpost-sub p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap row;
  padding-top: 5px;
}

.edit,
.delete {
  text-align: center;
  border: 0px;
  padding: 3px;
  cursor: pointer;
}

.edit {
  background-color: #48f17b;
  border-radius: 4px;
}

.delete {
  background-color: #f74747;
  border-radius: 4px;
}

.edit:hover {
  background-color: #25af5a;
}

.delete:hover {
  background-color: #c73a3a;
}

.loader {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-loader {
  position: absolute;
  bottom: 40px;
  right: 0px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 2rem;
  gap: 20px;
}

.pagination button {
  cursor: pointer;
  background-color: #7b69e0;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #292546;
}

.pagination button img {
  width: 30px;
  height: 30px;
}

@media (max-width: 1050px) {
  .allpost-main {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .blog-image {
    height: 200px;
    margin: auto;
  }
}

@media (max-width: 850px) {
  .allpost-main {
    padding: 0.8rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .allpost-sub {
    width: 100%;
    padding: 5px;
    background-color: #ecf6ff;
  }

  .blog-image {
    width: 100%;
    height: 200px;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .blog-image {
    height: 150px;
  }
}

@media (max-width: 544px) {
  .blog-image {
    height: 130px;
  }
}

@media (max-width: 544px) {
  .allpost-main {
    padding: 0.8rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .allpost-sub p {
    font-size: 0.9rem;
  }
}
