a {
  text-decoration: none;
}

.bloges {
  width: 670px;
  border: 0px;
  padding: 10px;
  background-color: #fff1e3;
  margin-bottom: 2rem;
  border-radius: 10px;
}
.bloges img {
  width: 650px;
  height: 300px;
  border-radius: 10px;
}

.title {
  color: #162633;
  font-size: 1.6rem;
  margin-top: 15px;
  text-align: left;
}
.desc {
  margin-top: 15px;
  color: #414141;
}

.name {
  margin: 20px 0;
  color: #5181b6;
}

@media (max-width: 1050px) {
  .bloges {
    width: 600px;
    border: 0px;
  }
  .bloges img {
    width: 580px;
    height: 300px;
  }
}

@media (max-width: 900px) {
  .bloges {
    width: 500px;
    border: 0px;
  }
  .bloges img {
    width: 480px;
    height: 300px;
  }
}

@media (max-width: 800px) {
  .bloges {
    width: 450px;
  }
  .bloges img {
    width: 430px;
    height: 250px;
  }
}

@media (max-width: 700px) {
  .bloges {
    width: 300px;
  }
  .bloges img {
    width: 280px;
    height: 250px;
  }
  .title {
    font-size: 1.4rem;
    margin-top: 15px;
  }
}

@media (max-width: 580px) {
  .bloges {
    width: 100%;
  }
  .bloges img {
    width: 100%;
    height: 250px;
  }
  .desc {
    font-size: 0.9rem;
  }
  .name {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .bloges img {
    width: 100%;
    height: 200px;
  }

  .title {
    font-size: 1.2rem;
    margin-top: 15px;
  }
  .desc {
    font-size: 0.8rem;
  }
}
